@import "_bootstrap.less";

.wrap {
  padding: 20px 0;
}

h1 {
  font-size: 72px;
  text-align: center;
}

h2 {
  text-align: center;
}

.container-fluid {
  max-width: 900px;
}

.status {
  font-size: 0.8em;
  color: @gray-light;
  &:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: @brand-success;
    display: inline-block;
    line-height: 1.5;
    margin-right: .5em;
    border-radius: 50%;
  }
}

.page-intro {
  text-align: center;
}
.page-content {
  max-width: 600px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
  display: block;
}

.btn {
  border: none;
  border-radius: 0;
}
.btn-lg {
  border-radius: 0;
}