h2 404 — Page not found
h4 Looking for my old site?
p Sorry for the trouble, you may be able to find what you’re looking for on <a href="https://github.com/jorgepedret/jorgepedret.com">my old website’s repo</a>.