hr
ul.list-unstyled.list-cozy
  li
    i.icon-github4
    |  
    a(href="https://github.com/jorgepedret" target="_blank") github.com/jorgepedret
  li
    i.icon-dribbble3
    |  
    a(href="https://dribbble.com/jorgepedret" target="_blank") dribbble.com/jorgepedret
  li
    i.icon-skype
    |  
    a(href="skype:jorgeped?add" target="_blank") jorgeped
  li
    i.icon-envelop
    |  
    a(href="mailto:jorgepedret@gmail.com") jorgepedret@gmail.com
  li
    i.icon-home3
    |  
    a(href="/") Home
  li
    i.icon-accessibility
    |  
    a(href="/oracle") Business Oracle
  li
    i.icon-lab
    |  
    a(href="/express-website") Express Website