h2 Special Powers
p For over 15 years I’ve been embracing the web as a platform for personal, business and social transformation.
ul
  li I <strong>design and code websites</strong> from idea to conception to maintenance using Photoshop, WordPress, Node.js, CSS, HTML and JavaScript
  li I create <strong>digital or hand drawn illustrations</strong> for products and services
  li I <strong>organize and speak at tech events</strong> in Vancouver, Canada
  li I <strong>write and design documentation</strong> for open source projects and products
  li I organize and run <strong>usability research studies</strong>

h2 Achievements
ul
  li Formation and <strong>organization of a local meetup group</strong>, reaching over 100 local developers and designers assisting the events
  li Personal <strong>tutoring and public speaking</strong> at local tech events like <a href="http://cssbrigade.com/events/2" target="_blank">CSS Brigade</a> and <a href="http://www.meetup.com/Vancouver-HTML5/events/161590812/" target="_blank">HTML5 Vancouver</a>
  li Creation and collaboration on multiple, community and personal, <a href="https://github.com/jorgepedret?tab=repositories" target="_blank">open source projects</a>
  li Created and maintained <strong>great relationships</strong> with co-workers, clients and contractors


.box
  h2 Lets work together

  ul
    li Artists, charities & non-profit organizations are welcome
    li Preferably 1 to 2 week projects with quick turn around
    li Projects not aiming for perfection but for high impact
    li Clear & up front communication from both ends

  .cta.text-center
    a.btn.btn-lg.btn-primary(href="/contact")
      i.icon-bubbles2
      |  Get in touch
    br
    span.status.status-available Currently accepting contracts

blockquote
  p Jorge, you have really helped us over the past few years be passionate about clean HTML, Wordpress integrations and company involvement.
  p: small Darrell Keezer, <a href="http://www.candyboxmarketing.com/our-team/" target="_blank">Candybox Marketing</a>

blockquote
  p It’s been wonderful having you in our space these last weeks. Your laugh energizes the creativity in our team alone, yeah your designs are ok too ;)
  p: small Kalvir Sandhu, <a href="http://brewhouse.io/" target="_blank">Brewhouse</a>

.cta.text-center
  a.btn.btn-lg.btn-primary(href="/contact")
    i.icon-bubbles2
    |  Let’s have a talk!