html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    title Freelance developer, designer &amp; illustrator based in Canada | Jorge Pedret

    link(rel="stylesheet" type="text/css" href="css/style.css")

    //if lt IE 9
      script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
      script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
  body
    .wrap
      .container-fluid
        .text-center
          a.status.status-available(href="/contact") Available for contracts
        header.page-intro
          h1 Jorge Pedret
          p.lead Freelance <strong>designer &amp; illustrator and coder</strong> based in Vancouver, Canada. I’m passionate for everything that I do and for creating a better place for everyone and for future generations.
          img(src="img/avatar.jpeg" alt="Size of image corresponds to size of ego")
        
        article.page-content
          h2 Special Powers
          p For over 15 years I’ve been embracing the web as a platform for personal, business and social transformation.
          ul
            li I <strong>design and code websites</strong> from idea to conception to maintenance using Photoshop, WordPress, Node.js, CSS, HTML and JavaScript
            li I create <strong>digital or hand drawn illustrations</strong> for products and services
            li I <strong>organize and speak at tech events</strong> in Vancouver, Canada
            li I <strong>write and design documentation</strong> for open source projects and products
            li I organize and run <strong>usability research studies</strong>

          h2 Achievements
          ul
            li Formation and <strong>organization of a local meetup group</strong>, reaching over 100 local developers and designers assisting the events
            li Personal <strong>tutoring and public speaking</strong> at local tech events like <a href="http://cssbrigade.com/events/2" target="_blank">CSS Brigade</a> and <a href="http://www.meetup.com/Vancouver-HTML5/events/161590812/" target="_blank">HTML5 Vancouver</a>
            li Creation and collaboration on multiple, community and personal, <a href="https://github.com/jorgepedret?tab=repositories" target="_blank">open source projects</a>
            li Created and maintained <strong>great relationships</strong> with co-workers, clients and contractors


          .box
            h2 Lets work together

            ul
              li Charities & non-profit organizations are welcome
              li Preferably 1 to 2 week projects with quick turn around
              li Projects not aiming for perfection but for high impact
              li Clear & up front communication from both ends

            .cta.text-center
              a.btn.btn-lg.btn-primary(href="/contact")
                i.icon-bubbles2
                |  Get in touch
              br
              span.status.status-available Currently accepting contracts

          blockquote
            p It's been wonderful having you in our space these last weeks. Your laugh energizes the creativity in our team alone, yeah your designs are ok too ;)
            p: small Kalvir Sandhu, <a href="http://brewhouse.io/" target="_blank">Brewhouse</a>

          blockquote
            p Jorge, you have really helped us over the past few years be passionate about clean HTML, Wordpress integrations and company involvement.
            p: small Darrell Keezer, <a href="http://www.candyboxmarketing.com/our-team/" target="_blank">Candybox Marketing</a>

          .cta.text-center
            a.btn.btn-lg.btn-primary(href="/contact")
              i.icon-bubbles2
              |  Let’s have a talk!

        .text-center
          hr
          ul.list-unstyled.list-inline
            li
              i.icon-github4
              |  
              a(href="https://github.com/jorgepedret" target="_blank") github.com/jorgepedret
            li
              i.icon-dribbble3
              |  
              a(href="https://dribbble.com/jorgepedret" target="_blank") dribbble.com/jorgepedret
            li
              i.icon-skype
              |  
              a(href="skype:jorgeped?add" target="_blank") jorgeped
            li
              i.icon-envelop
              |  
              a(href="mailto:jorgepedret@gmail.com") jorgepedret@gmail.com

        

      //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")