html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Express Website | Get a good looking Website in 2 days

    link(rel="stylesheet" type="text/css" href="/css/style.css")
    link(rel="stylesheet" type="text/css" href="/css/express.css")

    //if lt IE 9
      script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
      script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
  body.oracle
    .wrap
      .container-fluid
        .header-available
          a.status.status-available(href="./contact") Accepting new clients
        header.page-intro
          h1
            a(href="/express-website") Express Website
          if current.source == "index"
            p.lead Great looking websites for <strong>individuals</strong> and <strong>small businesses</strong>.<br /> Get a published website for $500 in two days.
        
        article.page-content
          != yield
        include ../_footer