h2 Conditions

p.intro These are no copy/paste conditions. These conditions were hand written and they aim to clarify any doubts that you have before deciding to work with me. If you still have questions, <a href="./contact">get in touch</a>.

h2 What’s not included

.process
  h3 Long term support
  p I can’t garantee that I’ll have time to work on your project after it’s been published and delivered to you.
  p I promise to do my best to answer any questions you have after completing the project, but I’m not obliged to.
  p I’ll mitigate any bugs (software faults) that I find while working on the project, but if any bugs are found after the project has been delivered, I’m not obliged to fix them.

  h3 Hosting issues support
  p The hosting companies that I work with are serious businesses that host millions of people around the world. They guarantee 99.99% of up-time, that means that the servers very rarely crash.
  p Having said that, there are ocassional unpredictable crashes that happen even to the best of servers. I’m not responsible in any way when, or if, this or any other server related issue happen.
  p In the documents that I’ll leave with you, once the project is completed, there is a section that explains what to do in case of an emergency like this.

  h3 Fixing broken software
  p This is very unlikely to happen, but if, for any reason, the software stops working after I’ve delivered the project, I’m not responsible for fixing it. There will be a section in the documents that I’ll provide that explains what to do in case this happens.

  h3 Complex websites
  p I don’t work with complex websites that require a lot of coding. For example, setting up e-commerce sites and payment integrations, or sites with hundreds of pages. Be explicit about what your requirements are before we start working together.

  h3 Complex designs
  p In order to be able to finish your Website in 2 days, I stay away from putting too much time into designing custom images. I don’t design logos or custom icons from scratch, unless you need quick placeholders.

  h2 Money back conditions
  p If, for any reason, you don’t like working with me, this must be voiced out and clear the first day of starting the project, and before starting the second day. If we can’t reach an agreement, then I’ll give you your money back. Any expenses already made (hosting providers, domain names or templates) will be covered by you. You’ll keep whatever was paid for.

  p If you agree to continue working a second day, then, no money backsies. This is to protect my time and your time.

  h2 Other conditions
  
  h3 Domain name maximum $20/year
  p If price of the domain name is over $20 a year, you’ll cover the exeeding amount. For example, if the domain name that you want is $45/year, then $20 is covered by me, the rest, $25, is covered by you.

  h3 Hosting package maximum $150/year
  p If price of the hosting package is over $150 a year, you’ll cover the exeeding amount. For example, if the package is $250/year, then $150 is covered by me, the rest, $100, is covered by you.

  h3 Template maximum $50
  p If price of the template is over $50, you’ll cover the exeeding amount. For example, if the template is $80, then $50 is covered by me, the rest, $40, is covered by you.

  h3 Price changes
  p Prices can change without notification. The price on the website might not reflect the current price.

  h2 Hourly rate $50/hour