.express-body
  h2 Hi!
  p My name is Jorge Pedret. I can help you design, code and publish your own website on the Internet in just 2 days. We’ll work together and focus on what’s important for you. By the end, you’ll have a <strong>fully working website</strong> that you can update yourself, advertise on social media and engage your visitors directly.
  p Want to know more?…

  ul.list-inline
    li: a(href="#process").btn.btn-success.btn-sm Process
    li: a(href="#included").btn.btn-success.btn-sm Package
    li: a(href="#questions").btn.btn-success.btn-sm Questions
    li: a(href="#referrals").btn.btn-success.btn-sm Referrals
    li: a(href="./conditions").btn.btn-success.btn-sm Conditions


  .process
    h2#process My process

    p.process-intro Today’s technology allows developers to create a website with very little effort and very little investment. I love meeting with awesome people, capturing their idea and expressing it as a website that is useful to them and to their target audience. Overall, I like having fun while I work.

    h3 1. Review your project
    p Defining the goals is key to the start of any project. After a Skype chat, we’ll meet in person to discuss your project and what you want to achieve with your website. The idea here is to get a sense of what you’re looking for and of what I can offer. We’ll also get to talk about the audience that you’re looking to engage and the language that we can potentially use.

    h3 2. Choose a template
    p This is the funnest parts of creating a website, as you get to see a broad selection of professionally designed templates and choose one that fits best for your specific goals. I suggest templates from <a href="http://www.woothemes.com/product-category/themes/" target="_blank">WooThemes</a> or <a href="http://themeforest.net/search?utf8=%E2%9C%93&term=&view=grid&sort=&date=&category=wordpress&price_min=&price_max=&sales=&rating_min=4" target="_blank">ThemeForest</a>, but we can consider any template that you suggest.

    h3 3. Choose a domain
    p We’ll look for a domain name that is available and reserve it for a full year. The domain name is generally included in the hosting package. The idea is to choose a domain that’s simple and memorable, easy to spell to your future visitors over the phone.

    h3 4. Compose the content
    p The content of your website is the most important part. It’s what keeps your visitors coming back and what makes your website a powerful tool. The content is the backbone of your website and we’ll use it to structure the menu and the different pages.

    h3 5. Publish website
    p Once your Website is ready, we’ll open the doors so anybody can come in and start using it. Publishing a website can be frightening for some, but I’ll give you the tools and support to feel comfortable, happy, with going live.

    h3 6. Looking forward
    p Once published, I’ll hand you the keys to your new website. You’ll have a document with the credentials, the files and the information necessary for any other development team to work on it. All the bills are paid for a full year and payment is automated with the hosting company.

    p Now it’s time for you to start publishing those blog posts that you’ve been wanting to write, promoting your new website on social media networks and playing around with the different things you can do with your new website.

  hr
  p.text-center
    | Ready to start a conversation?
    br
    br
    a.btn.btn-lg.btn-primary(href="./contact") Get in touch with Jorge
  hr

  .process
    h2#included What’s included?

    h3 A Good Looking Template!
    p Choose from a wide variety of templates that are available on the Internet. They could range from $0 to $100 depending on the quality and complexity of the template. <a href="http://www.woothemes.com/product-category/themes/" target="_blank">WooThemes</a> and <a href="http://themeforest.net/search?utf8=%E2%9C%93&term=&view=grid&sort=&date=&category=wordpress&price_min=&price_max=&sales=&rating_min=4" target="_blank">ThemeForest</a> are popular for carrying excelent quality templates.

    h3 Domain name for 1 year
    p If you don’t have a domain already, we’ll brainstorm ideas for a memorable and simple to spell domain name. We’ll use a tool like <a href="https://domainr.com/" target="_blank">Domai.nr</a> to check if the domain is available and purchasing options.

    h3 Hosting plan for 1 year
    p We’ll find a hosting plan that fits your needs, for your pocket and for the volume of visitors that you’ll be expecting. Before making any decisions, I’ll show you the options and the price ranges directly from the hosting company’s website.

    h3 Simple visual design
    p We’ll take advantage of the template for the heavy design elements. If there are any elements that need to be customized, or photos that need to be finely tuned, I have the tools to make it look pretty.

    h3 Content writing coaching
    p Although you’ll be doing most of the writing, I’ll help you organize it, shorten it and package it up to meet your audience’s expectations.

    h3 One-day express training
    p Your new website will be fully equiped for you to go in the control panel and make changes yourself. Before publishing your website, I’ll provide you with written and in-person condensed, easy-to-follow instructions for navigating the different parts that make your website possible. As well as what to do in case of an emergency, what information to give to another development team, username and passwords, etc.

    h3 Published website
    p By the end of the project, you’ll have a fully functional, good looking, ready-to-go-live Website. Something that you’ll be proud to share with your friends, colleagues and family. I make this goal a priority. And to make it happen, we use our time wisely and focus only on what’s important.

  hr
  p.text-center
    | Interested in working together?
    br
    br
    a.btn.btn-lg.btn-primary(href="./contact") Send Jorge an Email
  hr

  .process
    h2#questions Still have questions…?
    
    h3 Why so fast/cheap?
    
    p Most websites, up to now, were built over the span of weeks, sometimes months, taking up a lot of back and forward between the client and the team involved, lots of time spent on Skype calls to discuss design, content, marketing strategies, etc. This would end up costing lots of money and time to the client and the team.

    p With today’s technology, we have a huge variety of professionally designed templates at a very reasonable price. We also have available to us free tools like WordPress which allows people without any technical background to update their own content. The price of creating, hosting and maintaining a website is really really low now a days.

    p By removing all the buzz and expectations around creating a website, it’s easier to focus on what’s important: communicating your idea or message in a clear way. Everything else will come after if you decide to continue putting an effort into improving your online presence.

    h3 Why do you do this?

    p I love meeting with people, capturing their idea and expressing it as a website that is useful to them and to their target audience. A website that doesn’t get in your way, but allows you to continue expressing your value in a clear and beautiful way. A website that you’re proud to share with your friends and your potential clients, the embodiment of your idea on the this massive network of interconnected computers that we call the Internet.

    h3 Is my website going to look like this one?

    p It won’t. While working on the project, you’ll get to choose a pre-designed template from a few templates that I’ll suggest according to your needs. You can even start today evaluating templates options on <a href="http://www.woothemes.com/product-category/themes/" target="_blank">WooThemes</a> or <a href="http://themeforest.net/search?utf8=%E2%9C%93&term=&view=grid&sort=&date=&category=wordpress&price_min=&price_max=&sales=&rating_min=4" target="_blank">ThemeForest</a>.

    h3 Can I choose any domain?

    p Most hosting companies make it super easy to host .com domains, but I can look into working with any domain that you suggest. I can help you figure out if it’s available, how to get it and where to host it. Depending on the price of the domain, it might have to be paid separately, it might not be able to include it in the fixed rate.


    h3 What if it’s not ready by the second day?
    p If you don’t consider it ready to be published by the second day, we’ll reassess the approach and see what needs to be done for it to be ready. This might imply hourly rates additional to the original fixed rate.
    p I make it a top priority to complete the Website by the second day. We might be even have it ready by the first day. Websites are in a constant state of change, they’re rarely a perfect final product. The goal is to communicate your message well.

    h3 Where’s your office?
    p The world is my office! We can meet at any coffee shop, coworking space, your home or your office, if you have one.

  hr
  p.text-center
    | Did I leave any questions unanswered?
    br
    br
    a.btn.btn-lg.btn-primary(href="./contact") Ask Jorge a Question
  hr

  .process
    h2#referrals $100 for every paid referral
    p I’m giving $100 to anyone that refers a client who signs up for a 2 day Express Website project. Take your best friend out for a nice dinner!